@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('https://img-cdn-qiniu.dcloud.net.cn/fonts/uni.ttf?t=1536565627510') format('truetype');
}

.m-icon {
	font-family: uniicons;
	/* font-size: 24px; */
	/* margin-left: 20px; */
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.m-icon-search:before {
	content: '\e466';
	line-height: 35px;
}

.hello {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.title {
	color: #8f8f94;
	margin-top: 25px;
}

.ul {
	font-size: 12px;
	color: #8f8f94;
	margin-top: 25px;
	display: flex;
	border-radius: 10px;
	padding: 5px;
	background-color: #fff;
}
.slideshow{
	margin-top: 10px;
}