@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('~@/static/fonts/uni.ttf') format('truetype');
}

.bg{
	width: 100%;
	background-color: #f0f0f0;
}

.m-icon {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.m-icon-search:before {
	content: '\e466';
	line-height: 35px;
}

.ul {
	font-size: 12px;
	color: #8f8f94;
	/* margin-top: 25px; */
	margin: 20upx 10upx;
	display: flex;
	border-radius: 10px;
	padding: 5px;
	background-color: #fff;
	width: 100%;
}

.main {
	display: flex;
}